@font-face {
    font-family: Roboto-Black;
    src: url(./fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(./fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(./fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Light-Italic;
    src: url(./fonts/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

body, figure{
    margin: 0;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

.info-tile-ilustration-image{
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 0.5vw;
    
}

.information-title {
    font-size: 1.6vw;
    font-family: Roboto-Medium ,Georgia, 'Times New Roman', Times, serif ;
    margin: 3vw 44.1vw;
    font-weight: bold;
}

.info-tiles-container {
    padding: 0vw 30vw;
    list-style-type: none;
}


.quote-text{
    font-family: Roboto-Light-Italic, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.81vw;
    color: #1f2937;
    margin: 0 20vw;
    margin-top: 5vw;
}

.call-to-action{
    width: 50vw;
    height: 7.5vw;
    align-items: center;
    border-radius: 0.5vw;
    margin: 5vw 25vw;
    align-self: center;
    
}

.call-to-action-text{
    font-family: Roboto, Georgia, 'Times New Roman', Times, serif;
    flex-grow: 15;
    margin: auto 5vw;
}

.call-to-action-text-main{
    font-size: 1.25vw;
    font-weight: 500;
}

.call-to-action-text-sub{
    font-size: 0.75vw;
}

#call-to-action-sign-up-button{
    flex-grow: 1;
    margin: auto 5vw;
}

.quote-author{
    font-family: Roboto-Bold, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2vw;
    font-weight: bolder;
    text-align: right;
    background-color: transparent;
    margin: 0 25vw;
    

}

.header {
    padding: 0.5vw 20vw;
}

.navbar{
    flex-grow: 1;
}

.footer{
    width: 100vw;
    height: 1.5vw;
    background-color: #1F2937;
    padding: 1vw 0;
}

.footer-text{
    margin: 0 45vw;
    font-size: 1vw;
}

.header-logo{
    flex-grow: 20;
    font-family: Roboto-Medium, Georgia, 'Times New Roman', Times, serif;
    font-size: 1vw;
}

.hero-content{
    width: 100vw;
}

.hero-content-text{
    width: 0.1vw;
    margin-right: 3vw;
    flex-grow: 1;
    align-self: center;
    padding-left: 20vw;
    
}

.hero-placeholder-image{
    width: 1vw;
    height: 10vw;
    object-fit:cover;
    margin-left: 3vw;
    align-self: center;
    flex-grow: 1;
    padding-right: 20vw;
}

.hero-content-text-main{
    font-size: 2.5vw;
    font-family:Roboto-Black ,Georgia, 'Times New Roman', Times, serif ;
    font-weight: bolder;
}

.hero-content-text-sub{
    font-size: 0.8vw;
    font-family:Roboto-Light ,Georgia, 'Times New Roman', Times, serif ;

}

.header-link, .header-link-responsive {
    text-decoration: none;
    font-family: Roboto-Light, Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8vw;
    transition: font-size 0.2s, color 0.2s;
    margin: auto 1vw;
}

.sign-up-button, .sign-up-button-responsive {
    width: 5vw;
    height: 1.5vw;
    margin: 0.5vw 0;
    border-radius: 0.3vw;
    font-size:0.7vw;
    transition: transform 0.2s;
    padding: 0;
}

.info-tile-ilustration, .info-tile-ilustration-responsive {
    width: 7.4vw;
    height: 7.42vw;
    border-radius: 0.75vw;
    border: 0.3vw solid #3882f6;
    transition: transform 0.2s;
    
}

.info-tiles-container figure {
    margin: 0 1vw;
    flex-grow: 1;
    font-family:Roboto-Medium, Georgia, 'Times New Roman', Times, serif ;
    font-size: 0.877vw;
    text-align: center;
}

.standard-size {
    width: 100vw;
    height: 24vw;
}

.dark-background {
    background-color: #1F2937;
}

.light-gray-background {
    background-color: #e5e7eb;
}

.light-blue-background {
    background-color: #3882f6;
}

.dark-text-color {
    color: #1D2937;
}

.bright-text-color {
    color: #f9faf8;
}

.bright-text-gray-color {
    color: #e5e7eb;
}

.dark-text-color {
    color: #1f2937;
}

.dark-text-gray-color {
    color: #61656b;
}

.bright-border{
    border: 1px solid white;
}

.no-border{
    border: none;
}

.flex-container {
    display: flex;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
}

.sign-up-button-responsive:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.header-link-responsive:hover {
    font-size: 1vw;
    color: #f9faf8;
}

.info-tile-ilustration-responsive:hover {
    transform: scale(1.2);
}
