@font-face {
    font-family: Roboto-Black;
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Light-Italic;
    src: url(../fonts/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

body, figure{
    margin: 0;
}

.info-tile-ilustration-image{
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 9.6px;
    
}

.information-title {
    font-size: 30.72px;
    font-family: Roboto-Medium ,Georgia, 'Times New Roman', Times, serif ;
    margin: 57.6px 830.92px;
    font-weight: bold;
}

.info-tiles-container {
    padding: 0px 576px;
}

.quote-container {
    padding: 70.2px 576px;
}

.quote-text{
    font-family: Roboto-Light-Italic, Georgia, 'Times New Roman', Times, serif;
    font-size: 34.752px;
    color: #1f2937;
    margin: 0;
}

.call-to-action{
    width: 960px;
    height: 144px;
    align-items: center;
    border-radius: 9.6px;
    margin: 96px 480px;
    align-self: center;
    
}

.call-to-action-text{
    font-family: Roboto, Georgia, 'Times New Roman', Times, serif;
    flex-grow: 15;
    margin: auto 96px;
}

.call-to-action-text-main{
    font-size: 24px;
    font-weight: 500;
}

.call-to-action-text-sub{
    font-size: 14.4px;
}

#call-to-action-sign-up-button{
    flex-grow: 1;
    margin: auto 96px;
}

.quote-author{
    font-family: Roboto-Bold, Georgia, 'Times New Roman', Times, serif;
    font-size: 23.04px;
    font-weight: bolder;
    text-align: right;
    background-color: transparent;
}

.header {
    margin: auto 384px;
    padding-top: 9.6px;
}

.footer{
    width: 1920px;
    height: 28.8px;
    background-color: #1F2937;
    padding: 19.2px 0;
}

.footer-text{
    margin: 0 864px;
    font-size: 19.2px;
}

.header-logo{
    flex-grow: 20;
    font-family: Roboto-Medium, Georgia, 'Times New Roman', Times, serif;
    font-size: 19.2px;
}

.hero-content{
    padding: 96px 384px;
}

.hero-content-text{
    width: 384px;
    margin-right: 57.6px
    
}

.hero-placeholder-image{
    width: 576px;
    height: 192px;
    object-fit: cover;
    margin-left: 57.6px;
    align-self: center;
}

.hero-content-text-main{
    font-size: 48px;
    font-family:Roboto-Black ,Georgia, 'Times New Roman', Times, serif ;
    font-weight: bolder;
}

.hero-content-text-sub{
    font-size: 15.36px;
    font-family:Roboto-Light ,Georgia, 'Times New Roman', Times, serif ;

}

.header-link, .header-link-responsive {
    text-decoration: none;
    flex-grow: 1;
    font-family: Roboto-Light, Georgia, 'Times New Roman', Times, serif;
    font-size: 15.36px;
    transition: font-size 0.2s, color 0.2s;
    margin: auto 19.2px;
}

.sign-up-button, .sign-up-button-responsive {
    width: 96px;
    height: 28.8px;
    margin: 9.6px 0;
    border-radius: 5.76px;
    font-size:13.44 px;
    transition: transform 0.2s;
    padding: 0;
}

.info-tile-ilustration{
    width: 142.08px;
    height: 142.464px;
    border-radius: 14.4px;
    border: 5.76px solid #3882f6;
    
}

.info-tile, .info-tile-responsive {
    margin: 0 19.2px;
    flex-grow: 1;
    font-family:Roboto-Medium, Georgia, 'Times New Roman', Times, serif ;
    font-size: 16.8384px;
    text-align: center;
    transition: transform 0.2s;
}

.standard-size {
    width: 1920px;
    height: 460.8px;
}

.dark-background {
    background-color: #1F2937;
}

.light-gray-background {
    background-color: #e5e7eb;
}

.light-blue-background {
    background-color: #3882f6;
}

.dark-text-color {
    color: #1D2937;
}

.bright-text-color {
    color: #f9faf8;
}

.bright-text-gray-color {
    color: #e5e7eb;
}

.dark-text-color {
    color: #1f2937;
}

.dark-text-gray-color {
    color: #61656b;
}

.bright-border{
    border: 1px solid white;
}

.no-border{
    border: none;
}

.flex-container {
    display: flex;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
}

.sign-up-button-responsive:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.header-link-responsive:hover {
    font-size: 19.2px;
    color: #f9faf8;
}

.info-tile-responsive:hover {
    transform: scale(1.2);
}
